/* 共通スタイル */

#main {
  background-color: #fcf4ed;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #main .container {
    width: 100%;
  }
  .anime {
    width: 45%;
  }
}
h1,
h3 {
  color: #804000;
}
.page-title {
  font-weight: 500;
}
.anime-list {
  overflow: hidden;
}

.anime {
  box-sizing: border-box;
  width: 23%;
  height: 150px;
  margin: 8px;
  float: left;
  background-color: #fff;
  list-style: none;
  position: relative;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .anime {
    width: 45%;
  }
}

.anime-title {
  overflow: hidden;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#main {
  min-height: 800px;
}
.add-button {
  transition: all 0.2s;
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #ffaaaa;
  color: #ffaaaa;
  font-weight: bold;
  padding: 10px;
  background-color: #fff;
  outline: none;
  user-select: none;
}

.add-button:hover {
  transition: all 0.2s;
  color: #fff;
  background-color: #ffaaaa;
  cursor: pointer;
}
