/* ログイン, ユーザー登録ページ用*/
body,
div,
span,
p,
h1,
h2,
ul,
input {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.8;
}
body {
  background: #fcf4ed;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.logo-image {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}
.login-form-over-wrap,
.sign-up-form-over-wrap {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .login-form-over-wrap,
  .sign-up-form-over-wrap {
    width: 80%;
  }
}
.login-form-wrap,
.sign-up-form-wrap {
  background: #fff;
}
.login-form-content,
.sign-up-form-content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5%;
}
.page-title {
  font-weight: 600;
  padding: 10px;
}
.form-item-name {
  text-align: start;
  width: 150px;
  display: block;
}

.login-form-item,
.sign-up-form-item {
  border: none;
  display: block;
  background: #e9e9e9;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.login-btn,
.sign-up-btn {
  border: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  height: 30px;
  width: 100%;
  background: #ff952b;
  color: #fff;
}
.error-msg {
  color: #ff0000;
}
.link-top-page {
  margin-left: 5%;
  margin-top: 5%;
  display: block;
  text-align: start;
}
