/* マイアニメページ用 */
.anime-list {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.myanime-item {
  box-sizing: border-box;
  width: 23%;
  height: 150px;
  margin: 8px;
  float: left;
  background-color: #fff;
  list-style: none;
  position: relative;
  padding: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .myanime-item {
    width: 45%;
  }
}

.status-form select {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #ff8000;
  border: 1px solid #ffaa55;
}
.watch-status {
  background: #fff;
}
.watch-status select {
  background: #fff;
}
.delete-btn {
  display: block;
  padding: 4px 8px;
  margin-top: 8%;
  margin-left: 70%;
  background: #ff8080;
  color: #fff;
  border: none;
}
.delete-btn:hover {
  cursor: pointer;
}
.no-myanime {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background: #fdfaf7;
  font-size: 17px;
  color: #3f3f3f;
}
