/* マイアニメページ用 */
.anime-list {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.myanime-item {
  box-sizing: border-box;
  width: 23%;
  height: 150px;
  margin: 8px;
  float: left;
  background-color: #fff;
  list-style: none;
  position: relative;
  padding: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .myanime-item {
    width: 45%;
  }
}

.status-form select {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #ffaa55;
  border: 1px solid #ffaa55;
}
.delete-btn {
  display: block;
  padding: 2px 6px;
  margin-top: 8%;
  margin-left: 70%;
  background: #ff8080;
  color: #fff;
  border: none;
}
