select,
input[type="submit"] {
  font-size: 20px;
}
select {
  height: 30px;
}

.search-result-title {
  font-weight: 500;
}
.form-season,
.form-year,
.search-btn {
  color: #353535;
  border: none;
}
.form-season,
.form-year {
  width: 20%;
}
.search-btn {
  background-color: #fff;
  width: 10%;
  height: 30px;
}
.search-btn:hover {
}
